<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.PTU.mapper.OrderDetailMapper">


    <insert id="insertBatch">
        insert into order_item(title,cover_image,order_id, book_id, quantity, price)
        values
            <foreach collection="orderDetailList" item="orderDetail" separator=",">
                (#{orderDetail.title},#{orderDetail.coverImage},#{orderDetail.orderId},#{orderDetail.bookId},#{orderDetail.quantity},#{orderDetail.price})
            </foreach>
    </insert>



</mapper>
